body {
  margin: 0;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form-style{
  border-radius: 15px;
  position: relative;
  padding: 25px 15px;
  background-color: olivedrab;
  margin: 50px 0;
  height: 20px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}


.form-style button{
  background-color: orangered;
}

.form-style Input{
  position:relative;
  padding: 2px 10px;
}
